<div class="backdrop">
  <main id="container" class="container group">
    <nav class="navbar group">
      <!-- <ul class="group">
        <li class="nav-list">

        </li>
      </ul> -->
    </nav>
  <content class="sidebar"></content>
  <content class="main"></content>
  </main>
</div>
