
<div class="backdrop">
  <main id="container" class="container group">
    <nav class="navbar">
      <ul class="group">
        <li class="nav-list"><a href="#login">Log In</a> </li>
      </ul>
    </nav>
  <content class="sidebar"></content>
  <content class="main"></content>
  </main>
</div>
