<nav class="navbar">
  <ul>
  </ul>
</nav>
<div class="backdrop">
  <main id="container" class="container group">
  <content class="sidebar"></content>
  <content class="main"></content>
  </main>
</div>
