<div class="backdrop">


  <nav class="navbar group">
  </nav>

  <main id="container" class="container group">
    <content class="sidebar"></content>
    <content class="main"></content>
  </main>

  <footer class="footer group">

    <small class="footer-copy">
      &copy; 2015 Levi Serebryanski. All rights reserved.
    </small>

    <ul class="footer-links group">
      <li><a href="#">Home</a></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Terms</a></li>
      <li><a href="javascript:void(0)">Privacy</a></li>
    </ul>
</div>
