<div class="backdrop">

  
  <nav class="navbar group">
  </nav>

  <main id="container" class="container group">
    <content class="sidebar"></content>
    <content class="main"></content>
  </main>

  <footer>
  </footer>
</div>
