<div class="backdrop">
  <div class="navbar-holder">
    <nav class="navbar header-nav group">
    </nav>
  </div>

  <main id="container" class="container group">
    <div class="sidebar-container">
      <content class="sidebar"></content>
    </div>

    <content class="main"></content>

  </main>

  <footer class="footer group">

    <small class="footer-copy">
      &copy; 2015 Levi Serebryanski. All rights reserved.
    </small>

    <ul class="footer-links group">
      <li><a href="#">Home</a></li>
      <li><a href="levsero.github.io">About</a></li>
    </ul>
  </footer>
  <clear></clear>
</div>
