<ul class="click-headers group">
<strong id="show-users">Users</strong>
<strong id="show-companies">Companies</strong>
</ul>

<!-- <ul><li id="show-users">Users</li><li id="show-companies">Companies</li></ul> -->

<section id="display-list"></section>
