<ul class="click-headers group">
<li class="search"><strong>Search</strong>
<input type="text" id="query" value="">
</li>

<strong id="show-users">All Users</strong>
<strong id="show-companies">All Companies</strong>

</ul>

<section id="display-list"></section>
