Hi <%= @user.name %>,
<br><br>
This email is from GoodInvests.herokuapp.com.
<br>
You have requested a password reset, if this was not requested by you please ignore this email.
<br>
To reset your password, just follow this link: <a href="%= @url %>">reset password</a>.
<br>
Thanks you for being a part of the GoodInvests community!
