<h2> Dear <%= @user.name %></h2>
<p>
  This email is from GoodInvests.herokuapp.com.
</p>
<p>
You have requested a password reset, if this was not requested by you please ignore this email.
</p>
<p>
To reset your password, follow this link: <a href="<%= @url %>">reset password</a>.
</p>
<p>
Thanks you for being a part of the GoodInvests community!
</p>
