<non-auth>
<p>Please sign in to continue.</p>

<div class="input">
  <label for="form-email">Email</label>
  <input type="text" name="user[email]" id="form-email" value="testing@gmail.com"
    placeholder="email">
</div>

<div class="input">
  <label for="form-password">Password</label>
  <input type="password" name="user[password]" id="form-password" value="password"
  placeholder="password">
</div>

<div id="errors">

</div>

<button id="login-button">Log In</button>
</span>or <a><strong id="register">Register</strong></a>
</non-auth>

<auth>
  <p>
    <a href="/auth/google_oauth2">Sign in with Google</a>
  </p>
</auth>
