<non-auth>
<p>Please sign in to continue.</p>

<div id="errors">
</div>

<div class="input">
  <label for="form-email">Email</label>
  <input type="text" name="user[email]" id="form-email" value=""
    placeholder="email">
</div>

<div class="input">
  <label for="form-password">Password</label>
  <input type="password" name="user[password]" id="form-password" value=""
  placeholder="password">
</div>

<button id="login-button">Log In</button>
</span>or <a><strong id="register">Register</strong></a>
<button id="login-guest">Guest Log In</button>

<a class="password"><strong>Forgot Password</strong></a>

</non-auth>

<auth>
  <p>
    <a href="/auth/google_oauth2">
      <img src="/images/google-sign-in.png" alt="google sign in" />
    </a>
  </p>

  <p>
    <a href="/auth/facebook">
      <img src="/images/sign-in-facebook.png" alt="vacebook sign in" />
    </a>
  </p>
</auth>
