<a href="#" class="js-modal-open">Sign In</a>

<div class="modal">
  <form class="modal-form">

    <span class="modal-close js-modal-close">&times;</span>

    <h1>Welcome</h1>

    <p>Please sign in to continue.</p>

    <div class="input">
      <label for="form-email">Email</label>
      <input type="text" name="user[email]" id="form-email" value="testing@gmail.com">
    </div>

    <div class="input">
      <label for="form-password">Password</label>
      <input type="password" name="user[password]" id="form-password" value="password">
    </div>

    <div class="submit">
      <button id="login-button">Sign In</button>
      <span class="button-alternative">or <strong id="register">Register</strong></span>
    </div>

  </form>
  <div class="modal-screen js-modal-close"></div>
</div>
