<a href="#" class="js-modal-open">Log In</a>

<div class="modal">
  <form class="modal-form">

    <span class="modal-close js-modal-close">&times;</span>

    <h1>Welcome</h1>

  </form>
  <div class="modal-screen js-modal-close"></div>
</div>
