<header class="logo"><a href="#">GoodInvests</a></header>

<ul class="nav-list group">
  <li class="name">Welcome
  <% if ( user.isLoggedIn ) { %>
    <%= user.current_user.escape("first_name") %>
  <% } %>
  </li>

  <% if ( user.isLoggedIn ) { %>
    <li>
      Noitfications <notification><% %><notification>
    </li>

    <li class="profile none">
      <a href="#users/<%= user.current_user.id %>"> Profile
      <img class="nav-profile-image" src="<%= user.current_user.get("picture_url") %>" alt="profile" />
      </a>
    </li>
  <% }%>

  <li id="signs" class="signs"></li>

</ul>
