<header class="logo"><a href="#">GoodInvests</a></header>

<ul class="header-nav group">
  <li class="name">Welcome
  <% if ( user.isLoggedIn ) { %>
    <%= user.current_user.escape("first_name") %>
  <% } %>
  </li>
  <% if ( user.isLoggedIn ) { %>
    <li class="notification-li">
      Notifications
      <strong class="badge"><%= user.current_user.get("notifications_count") %></strong>
      <ul class="header-notifications none"></ul>
    </li>

    <li class="profile">
      <a href="#users/<%= user.current_user.id %>"> Profile
      <img class="nav-profile-image" src="<%= user.current_user.get("picture_url") %>" alt="profile" />
      </a>
    </li>
  <% }%>

  <li id="signs" class="signs"></li>

</ul>
