<form class="register"><br>
<label for="user_email"> Email </label>
<input type="text" name="user[email]" value=""><br>

<label for="user_password"> Password </label>
<input type="password" name="user[password]" value=""><br>

<label for="user_password"> First Name </label>
<input type="text" name="user[first_name]" value=""><br>

<label for="user_password"> Last Name </label>
<input type="text" name="user[last_name]" value=""><br>

<label for="user_password"> Job Title </label>
<input type="text" name="user[job_title]" value=""><br>

<label for="user_password"> Description </label>
<input type="text" name="user[description]" value=""><br>

<button id="register-button">Register</button>
<a href="#login" id="login-link">login</a>
</form>
