<non-auth>
<p>Please register to continue.</p>
<div id="holder"></div>

<div class="input">
  <label for="form-email">Email</label>
  <input type="text" name="user[email]" id="form-email" value="" placeholder="email address">
</div>

<div class="input">
  <label for="form-password">Password</label>
  <input type="password" name="user[password]" id="form-password" value=""
  placeholder="min 6 letters">
</div>

<div class="input">
  <label for="form-first-name">First Name</label>
  <input type="text" name="user[first_name]" id="form-first-name" value=""
  placeholder="first names">
</div>

<div class="input">
  <label for="form-last-name">Last Name</label>
  <input type="text" name="user[last_name]" id="form-last-name" value=""
  placeholder="last name">
</div>

<div class="input">
  <label for="form-job-title">Job Title</label>
  <input type="text" name="user[job_title]" id="form-job-title" value=""
  placeholder="job title">
</div>

<div class="input">
  <label for="form-description">Description</label>
  <input type="text" name="user[description]" id="form-description" value=""
  placeholder="describe yourself">
</div>

<div class="buttons">
  <button id="register-button">Register</button>
  or <a><strong id="log-in">Log In</strong><a>
    <a class="password"><strong>Forgot Password</strong></a>
  </non-auth>
</div>

  <auth>
    <p>
      <a href="/auth/google_oauth2">
        <img src="/images/google-sign-in.png" alt="google sign in" />
      </a>
    </p>

    <p>
      <a href="/auth/facebook">
        <img src="/images/sign-in-facebook.png" alt="vacebook sign in" />
      </a>
    </p>
  </auth>
