<div id="holder">
</div>

<non-auth>
<p>Provide your accounts email address to a password reset link.</p>


<div class="input">
  <label for="form-email">Email</label>
  <input type="text" name="email" id="form-email" value="" placeholder="email">
</div>
<br>
<button id="reset-button">Send Reset Email</button>
<br><br>
<a><strong id="log-in">Log In</strong><a> or
  <a><strong id="register">Register</strong></a>

</non-auth>

<auth>
  <p>
    <a href="/auth/google_oauth2">Sign in with Google</a>
  </p>
  <p>
    <a href="/auth/facebook">Sign in with facebook</a>
  </p>
</auth>
