<description>
  <header>
    <h1>GoodInvests</h1>
  </header>
  <content><p>
    Find and discuss the hottest companies on the stock market. <br>
    View, comment and rate individual shares and other users portfolios!
  </p></content>
</description>

<ul class="most-followed">
  <li class="header">
    <h3>Most Owned Stocks</h3>
  </li>
</ul>

<ul class="most-commented">
  <li class="header">
    <h3>Most Discussed Stocks</h3>
  </li>
</ul>
