<div id="holder">
</div>
<p>Select a new password.</p>

<div class="input">
  <label for="form-password">Password:</label>
  <input type="password" name="password" id="form-password" value="" placeholder="min 6 chars">
</div>
<br>
<button id="reset-button">Reset Password</button>
