<content class="profile">
<ul>
  <li>
    <strong class="header"> <%= user.escape("first_name") + " " + user.escape("last_name") %></strong>
  </li>
  
  <li>
    <strong>Job Title:</strong><span data-type="job_title" class=".editable"><%= user.escape("job_title") %></span>
  </li>

  <li>
    <strong>Description:</strong><span data-type="description" class=".editable"><%= user.escape("description") %></span>
  </li>

  <li>
    <strong>Portfolio</strong>
    <%= portfolio %>
  </li>
</ul>
</content>
