

.main {
  display: block;
  float: right;
  width: 600px;
  padding: 20px 10px;
  background: #fff;
  margin-top: 36px;
}

.container {
  width: 950px;
  margin: auto;
  background: #fff;
  /*padding: 5px 20px;*/
  overflow: hidden;
}

.navbar {
  display: block;
  background: #2196F3;
  color: #fff;
  margin: 0 auto;
  width: 950px;
  padding: 0 25px;
  position: fixed;
  z-index: 2;
}

.navbar-holder {
  display: block;
  background: #2196F3;
  color: #fff;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  z-index: 2;
}

.opacity {
  opacity: .75;
}

.sidebar {
  margin-top: 36px;
  display: block;
  float: left;
  width: 300px;
  padding: 20px 10px 20px 20px;
  background: #fff;
  height: inherit;
}

.footer {
  position: relative;
  display: block;
  width: 950px;
  background: #2196F3;
  margin: 0 auto;
  color: #ccc;
}

/*
#2196F3 - 500
#1976D2 - 700
#64b5f6 - 300
#ff8a65 - deep orange 300
*/
