.main {
  display: block;
  float: right;
  width: 600px;
  padding: 20px;
  background: #fff;
}

/*body {
  background: #ccc;
}*/

.container {
  width: 1000px;
  margin: auto;
  background: #eee;
  padding: 5px 20px;
}

.navbar {
  display: block;
  background: red;
  color: white;
  margin: 10px 0;
}

.sidebar {
  display: block;
  float: left;
  width: 300px;
  padding: 10px;
  background: #fff;
}
