.main {
  display: block;
  float: right;
  width: 600px;
  padding: 20px;
  background: #cccccc;
}

.container {
  width: 1000px;
  margin: auto;
}

.navbar {
  display: block;
  background: #888888;
  margin: 10px 0;
}
