.profile {
  display: block;
  background: #dddddd;
  width: 300px;
  padding: 10px;
  line-height: 20px;
  box-shadow: 1px 1px 1px #aaaaaa;
}

.main strong {
  font-weight: bold;
}

.comments {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  background: #dddddd;
  width: 500px;
}

.header {
  font-size: 24px;
}

.comments li {
  padding: 5px;
}

.comment-form {
  width: calc(100% - 20px);
  padding: 10px;
}

.profile input {
  width: 100%;
}

.nav-list {
  diplay: block;
  float: right;
  width: 100px;
}

.nav-list form {
  position: absolute;
  background: grey;
  opacity: .9;
  margin-left: -20px;
  padding:10px;
}
