article.user-article, article.main-article {
  background: #eee;
  padding: 20px;
}

.user-article content{
  float:left;
}

.user-article .profile {
  display: block;
  width: 350px;
  padding: 10px;
  line-height: 20px;
}

.user-article li, .company-article li {
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 10px 5px 5px 10px;
}

.company-article li {
  width: 250px;
}

.user-article strong, .company-article strong {
  font-weight: bold;
}

strong.name {
  font-size: 24px;
}

.comments {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  background: #eeeeee;
  width: 500px;
}

.header {
  font-size: 24px;
}

.comments li {
  padding: 5px;
}

.comment-form {
  width: calc(100% - 20px);
  padding: 10px;
}

.profile input {
  width: 90%;
}

#input-picture-file {
  width: 200px;
}

form > button {
  padding: 5px 10px;
  box-shadow: 2px 2px 0px #000;
  margin-bottom: 2px;
  margin-right: 2px;
}

form > button:active {
  box-shadow: 0px 0px 0px #000;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-left: 2px;
}

.user-article form > button:active {
  background: #FF5722;
}

.user-article form > button {
  background: #ff8a65;
}

.company-article form > button:active {
  background: #4CAF50;
}

.company-article form > button {
  background: #81C784;
}

form > label {
  display: block;
  width: 150px;
}

.picture-div {
  float: left;
}

.image {
  height: 150px;
  width: 150px;
}

.user-article li.list-item {
  padding: 0px;
}

.user-article li.list-item a{
  padding: 8px 0 5px;
  background: #ffffff;
  border-bottom: 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.user-article ul.search-list {
  border: 1px solid #81C784;
}

.user-article li.list-item a:hover {
  background: #81C784;
}

.user-article li a{
  display:block;
  width: 100%;
  /*height: 100%;*/
}

.company-article .profile {
  width: 100%
}

.company-article {
  background: #eeeeee;
  padding: 30px 20px;
  line-height: 20px;
}

.comments {
  background: #dddddd;
  padding: 5px;
  border-radius: 7px;
}

.comments li{
  /*background: #ffffff;*/
  border-radius: 7px;
}

.main .company-info {
  float: left;
}

.main button.follow, .main button.unfollow {
  display: block;
  background: white;
  padding: 5px 10px;
  border: 1px solid #81C784;
  margin-top: 20px;
}

.main .company-extras {
  padding-top: 10px;
  margin: 0 auto;
  float: left;
  padding-left: 50px;
}

.main button.follow:hover, .main button.unfollow:hover {
  background: #81C784;
}

.main .image {
  border: 2px solid #FF8A65;
  border-radius: 20px;
}

content.profile {
  padding-bottom: 20px;
}

/* INDEX page */
.index {
  text-align: center;
}

.index header h1 {
  font-size: 24px;
}

.index h3 {
  font-size: 16px;
}

.index h1, .index h3 {
  font-weight: bold;
}

.index p {
  padding: 10px;
  font-size: 18px;
}

.index description {
  line-height: 24px;
  background: orange;
}

ul.most-followed, ul.most-commented {
  border: 1px solid #00BFFF;;
  width: 260px;
  float: left;
}

.index li a {
  display: block;
  border-bottom: 1px solid #00BFFF;;
  border-radius: 0;
  padding: 10px 5px 5px;
  width: 250px;
  text-align: center;
}

li.header {
  padding: 10px 5px 5px;
  text-align: center;
  background: #00BFFF;;
  border-bottom: 1px solid #fff;

}

.index li a:hover {
  background: #00BFFF;;
}

.index {
  background: #eee;
  padding: 20px;
}

ul.most-commented {
  margin-left: 20px;
}

/* commentS */

.comment-thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #FF8A65;
  float: left;
}

.comment-article .comment-body {
  float: left;
  width: 375px;
  padding: 0 20px 20px 20px;
}

.comments ul li.comment-article  {
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  width: 500px;
}

.comment-article date {
  font-size: 14px;
  color: #333;
}

.comment-article .author {
  font-size: 14px;
  color: #333;
}

.comment-article .comment-title {
  display: block;
  font-size: 16px;
}

.comment-article .comment-content {
  display: block;
}

.comments {
  background: #fff;
}

div.comment-form-body {
  background: #eee;
  padding: 20px;
  display: block;
  float: left;
  width: 355px;
  margin-left: 20px;
}

div.comment-form-body label {
  display: block;
  font-weight: bold;
}

.comment-form input {
  margin-bottom: 20px;
}

.comment-form input, .comment-form textarea {
  margin-top: 5px;
  width: 320px;
  padding: 10px;
}

.comment-form textarea {
  height: 100px;
}

.comment-form button {
  background: #2196F3;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: 2px 2px 0px #000;
  margin-bottom: 2px;
  margin-right: 2px;
  color: white;
}

.comment-form button:active {
  background: #1976D2;
  box-shadow: 0 0 0 #000;
  margin-top: 2px;
  margin-left: 2px;
}

errors {
  color: #f00;
}

message.flash {
  background: #81C784;
  position: absolute;
  width: 150px;
  top: -40px;
  right: 0;
  opacity: .7;
}

.holder {
  position: relative;
}

profile.profile {
  /*position: relative;*/
}
