.navbar li{
  float: left;
  padding: 10px 10px;
  height: 100%;
}

.navbar li.signs{
}

header.logo {
  float: left;
  padding: 10px 10px;
  font-weight: bold;
  height: 100%;
  display: block;
}

img.nav-profile-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline;
  position: absolute;
  top: 2px;
}

.profile > a {
  padding-left: 40px;
}

.navbar ul.header-nav {
  float: right;
  height: inherit;
}

ul.header-nav > li:hover {
  background: #1976D2;
}

.modal {
  display: none;
}

.modal input {
  color: black;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  background: #2196F3;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}

.modal-form a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modal-form button {
  background: #43A047;
  padding: 5px 10px;
  box-shadow: 2px 2px 0px #000;
  margin-bottom: 2px;
  margin-right: 2px;
}

.modal-form button:active {
  box-shadow: 0px 0px 0px #000;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 2px;
  margin-left: 2px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 200px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #cccccc;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.modal-form {
  transition-property: height;
  transition-duration: .5s;
  overflow: hidden;
}

.modal-form input {
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal #errors{
  display: block;
  color: #FFEB3B;
  padding: 10px 0;
}

.modal .none {
  display: none;
}

.close:hover { background: #00d9ff; }

.badge {
  display: inline;
  font-size: 14px;
  padding: 3px 7px;
  background: #000;
  border-radius: 50%;
  font-weight: bold;
}

li:hover .badge {
  background: #f00;
}

.header {
  position: relative;
  z-index: 1;
}

.header-list > li {
  position: relative;
}

.header-notifications {
  /*display: none;*/
  position: absolute;
  left: -1px;
  top: 33px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.navbar .header-list .none {
  display: none;
}

li:hover .header-notifications {
  display: block;
}

li:hover .header-notifications li {
  /*width: inherit;*/
}

li.notification-li {
  position: relative;
  cursor: pointer;
}

li.notification-li .read {
  float: right;
  color: #1976D2;
  padding: 5px 10px;
  background: #64B5F6;
  font-size: 14px;
}

li.notification-li .read-all {
  display: block;
  font-size: 13px;
  color: #1976D2;
  width: inherit;
}

.header-notifications > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.header-notifications > li:hover {
  background: #eee;
}
/*
#2196F3 - 500
#1976D2 - 700
#64b5f6 - 300
#ff8a65 - deep orange 300
*/
