html, body, header, nav, h1, h3, a,
ul, li, strong, main, button,
section, img, div, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, content{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: sans-serif;
  border-radius: 5px;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

input, textarea{
  margin: 5px 0 10px 0;
  background: white;
  border: 1px solid black;
  padding: 5px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #8db9dc;
    box-shadow: 0 0 10px #9ecaed;
}
