.click-headers>strong {
  display: block;
  width: calc(50% - 11px);
  font-weight: bold;
  float: left;
  height: 20px;
  padding: 10px 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #aaaaaa;
}

.search>input {
  text-align: left;
  width: 90%;
}

.search {
  border-bottom: 1px solid #aaaaaa;
}

.click-headers>strong:first-child {

  border-right: 1px solid #aaaaaa;
}

strong:second-child {
  float: right;
}

.click-headers {
  text-align: center;
  background: #eeeeee;
}

ul.user-list ul.company-list, ul.user-list ul.search-list {
  padding: 10px 15px 0;
}

.sidebar li>a.company, .sidebar li>a.user{
  display: block;
  text-align: center;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #aaaaaa;
}

.sidebar li>a.company:hover {
  background: #ACE5EE;
}

.sidebar li>a.company {
  background: #00BFFF;
}


.sidebar li>a.user:hover {

  background: #98FB98;
}

.sidebar li>a.user {
  background: #7FFF00;
}

.click-headers>strong:hover {
  background: #aaaaaa;
}

.company-list>li:hover>a,

.prev-page {
  float: left;
}

.next-page {
  float: right;
}

.sidebar p {
  text-align: center;
}

.sidebar .following {
  border-color: #FFD700;
  box-shadow: 2px 2px 2px #FFD700;
}

li.list-nav {
  padding: 5px;
  line-height: 20px;
}

content.sidebar {
  min-height: 530px;
}
