<label for="user_email">Email</label>
<input type="text" name="user[email]" value="">
<label for="user_password">Password</label>
<input type="text" name="user[password]" value="">
<button>Submit</button>
