<a href="#log-in">Log In</a>

<div id="log-in" class="modalDialog">
<div>
<a href="#close" title="Close" class="close">X</a>
<form class="login"><br>
<label for="user_email"> Email </label>
<input type="text" name="user[email]" value=""><br>

<label for="user_password"> Password </label>
<input type="text" name="user[password]" value=""><br>

<button id="login-button">Submit</button>
<button id="registe-buttonr">Register</button>
</form>
</div>
</div>
